@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Body Section */

body {
    background-color: #000000;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0px 190px;

}

body a {
    text-decoration: none;
}

main h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
}

main p {
    color: rgba(255, 255, 255, 0.497);
    font-size: .8rem;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
}

/* Header Navbar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


.brand h1 {
    color: 2.25;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 20px;
    padding-left: 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: rgb(230, 83, 60);
    padding: 8px 10px;
    border-radius: 46px;
}

#span {
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
    font-weight: 600;
}

/* Header Content */

.cover-header {
    display: flex;
    justify-content: space-between;

}

.header-content {
    display: block;
    width: 520px;
}

.header-content h3 {
    font-size: 4.875rem;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 28px;

}

.header-content h3>span {
    font-family: "Miama", sans-serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 1%;
}

.header-content p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 28px;
}

.header-content-button {
    display: flex;
    gap: 14px;
}

.header-content-button a {
    font-size: 1rem;
    font-weight: 600;
    background: #E6533C;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
}

#download-app {
    background-color: black;
    border: 1px solid white;
    border-radius: 42px;
}


/* Header Pic */
.header-pic {
    position: relative;
}

.header-pic img {
    display: flex;
    width: 349px;
    height: 580px;
}

.free-videos {
    width: 135px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.glass-card {
    background-color: rgba(255, 255, 255, 0.163);
    padding: 16px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.glass-card h3 {
    margin: 0px;
    font-size: 2.5rem;
    font-weight: 900;
}

.glass-card p {
    color: rgba(255, 255, 255, 0.65);
    font-size: .8rem;
    font-weight: 400;
    margin: 0px;
}

.tuto-videos {
    width: 130px;
    position: absolute;
    top: 430px;
    left: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.54);
}

.tuto-videos img {
    width: 40px;
    height: 40px;
}

.tuto-videos h3 {
    font-size: 1.5rem;
}

/* Habits Change Section */

.Habits-change {
    margin: 100px 0px;
}

.header-habits {
    margin: 0px 290px;
    align-items: center;
    text-align: center;
}

.Habits-change h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.Habits-change p {
    letter-spacing: 1px;
    margin-bottom: 58px;
}

.habits-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.habits img {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

/* Running Section */

.running {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 30px 32px;
    padding-left: 54px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
}

.running-text {
    width: 445px;
}

.running-text h2 {
    margin-bottom: 14px;
}


.running-text p {
    letter-spacing: 0.5px;
    line-height: 24px;
}


.running-text a {
    margin-top: 34px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    background: #E6533C;
    color: white;
    padding: 16px 70px;
    border-radius: 42px;
}

.running-image {
    width: 366px;
    height: 312px;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}

.running-image img {
    transform: translate(-48%, -25%) scale(.75);
}

/* Trainning Section */

.Trainnings {
    margin: 100px 0px;
    text-align: left;
    width: 1140px;
}

.train-head {
    letter-spacing: 1px;
    margin-bottom: 60px;
    width: 650px;
}

.Trainnings img {
    width: 100%;
    height: 100%;
}


.trainning-pic-row1 {
    display: grid;
    grid-template-columns: .4fr 1fr .5fr;
}

.trainning-pic-row2 {
    display: grid;
    grid-template-columns: .6fr .45fr .5fr;
}

.trainning-card {
    position: relative;
    height: 210px;
}

.gradient {
    position: absolute;
    background-color: #06FFD2;
    width: 100%;
    height: 100%;
    opacity: .5;
}


.trainning-text {
    width: 154px;
    position: absolute;
    top: 50%;
    font-weight: 500;
    color: white;
    letter-spacing: 0px;
}



.grad-exercise2 {
    background-color: #FF0000;
    opacity: .3;
}

.grad-exercise3 {
    background-color: #000000;
}

.grad-exercise4 {
    background-color: #000000;
}

.grad-exercise5 {
    background-color: #42FF00;
    opacity: .3;
}

.grad-exercise6 {
    background-color: #0047FF;
    opacity: .3;
}

.text-ex1 {
    color: black;
    top: 157px;
    left: 24px;
}

.text-ex2 {
    top: 25px;
    left: 31px;
}

.text-ex3 {
    top: 146px;
    left: 27px;
}

.text-ex4 {
    top: 25px;
    left: 250px;
}

.text-ex5 {
    top: 146px;
    left: 27px;
}


/* BMI Calculator Section */

.bmi-calculator {
    margin: 0px -190px;
}

.bmi-head {
    margin: 0px 385px;
    width: 641px;
    margin-bottom: 88px;
}


.bmi-main {
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 0px 190px;
}

.bmi-main h3 {
    font-size: 1.75rem;
    margin: 0px;
    margin-bottom: 50px;
}

.bmi-chart {
    margin: 50px 0px;
    
    width: 443px;
}

.bmi-chart table {
    border-collapse: collapse;
    text-align: left;
}

.bmi-chart th,
.bmi-chart td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
}

.bmi-chart th {
    font-size: 1rem;
    line-height: 120%;
    color: White;
    font-weight: 500;
}

.bmi-chart td {
    font-size: .8rem;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.calculate {
    margin: 50px 0px;
    width: 577px;
    margin-left: 140px;
}

.calculate h3 {
    margin-bottom: 14px;
}

.calculate p {
    margin: 14px 0px 34px 0px;
}


.form-row form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.calculate form>input,
.calculate form>select {
    color: rgba(255, 255, 255, 0.25);
    margin: 6px 0px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    border-radius: 8px;
    padding: 12px 20px;
}

.calculate form option {
    background-color: rgba(17, 16, 16, 0.868);
}

.your-activity select {
    width: 100%;
}

.calculate button {
    padding: 16px 70px ;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    cursor: pointer;
}

/* our team section */

.our-team {
    margin: 100px 0px;
}
.header-team {
    text-align: center;
}

.header-team p {
    margin: 15px 190px 60px;
}

.team-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 20px;
    padding: 20px ;
    border-radius: 20px;
}

.trainer-card {
    position: relative;
}

.trainer-card img {
    width: 100%;
    height: 272px;
    border-radius: 15px;
    filter: brightness(70%);
}

.trainer-name {
    position: absolute;
    top: 80%;
    left: 10%;
}

.trainer-name h4 {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1px;
}

/* Footer Section */
footer {
    margin: 0px -190px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    padding: 20px 190px;
    margin-bottom: 50px;
}

.brand-footer h1 {
    color: #E6533C;
    font-weight: 4rem;
    font-style: italic;
}

.brand-footer p {
    margin: 20px 0px;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    width: 450px;
}

.get-start a,
.important-link a {
    display: grid;
    margin:20px 0px ;
    color: rgba(255, 255, 255, 0.5);
}

.site-rights {
    margin: 0px 190px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 35px 0px ;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}